@import "variables";

* {
	font-family: $font-family;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.clear:after {
	content: "";
	display: table;
	clear: both;
}

.float-right {
	float: right;
}

nav {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	background: $gradient;
	padding: 15px 25px;

	a {
		cursor: pointer;
		text-decoration: none;
		color: #fff;
		display: flex;
		align-items: center;

		span {
			display: inline-block;
			font-size: 16pt;
			margin: -3px 8px 0 8px;
		}
	}
}

#nav-toggle, #file-toggle {
	cursor: pointer;
	padding: 0;
	background: none;
	border: none;
	outline: none;
	margin-top: 2px;
}

#nav-drawer, #file-drawer {
	position: absolute;
	margin: 0;
	padding: 20px;
	background: #333;
	height: calc(100% - 60px);
	transition: transform 0.3s cubic-bezier(.25,.8,.25,1);
	transform: translateX(-100%);
	overflow-y: auto;

	z-index: 1;

	&.open {
		transform: translateX(0%);
	}
}

#file-drawer {
	right: 0;
	transform: translateX(100%);
}

.nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #fff;

	.nav-list-item {
		margin: 0;

		margin-bottom: 20px;

		a {
			text-decoration: none;
			color: #fff;
		}
	}
}

main {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	font-size: 14pt;
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
}

a {
	color: $main;
}

hr {
	height: 1px;
	border: none;
	background: #ccc;
	margin: 0;
	margin-bottom: 20px;
}

.btn {
	cursor: pointer;

	max-width: 100%;
	font-size: inherit;
	font-weight: normal;
	border: none;
	outline: none;
	border-radius: 4px;
	padding: .6em 1em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

	background: #eee;
	color: #333;
	text-decoration: none;

	&:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}

	&:active {
		transition: 0.1s;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}

	&.btn-inverse {
		//padding: 0;
		box-shadow: none;
		border: 1px solid currentColor;
		background: none;
		color: #444;

		&:hover {
			box-shadow: none;
			color: darken(#444, 10%);
		}
	}

	&.btn-success {
		background: linear-gradient(135deg, #52c234, #159957);
		color: #fff;

		&.btn-inverse {
			background: none;
			color: $success;

			&:hover {
				color: darken($success, 10%);
			}
		}
	}

	&.btn-warning {
		background: linear-gradient(135deg, #FFD200, #F7971E);
		color: #fff;

		&.btn-inverse {
			background: none;
			color: $warning;

			&:hover {
				color: darken($warning, 10%);
			}
		}
	}

	&.btn-danger {
		background: linear-gradient(135deg, #F45C43, #EB3349);
		color: #fff;

		&.btn-inverse {
			background: none;
			color: $danger;

			&:hover {
				color: darken($danger, 10%);
			}
		}
	}

	&.btn-highlight {
		background: $gradient;
		color: #fff;

		&.btn-inverse {
			background: none;
			color: $main;

			&:hover {
				color: darken($main, 10%);
			}
		}
	}

	&.btn-borderless {
		padding: 0;
		border: none;
		font-weight: bold;
	}
}

form, .form {
	width: 100%;
}

label {
	display: block;
	margin-bottom: 4px;
	font-size: 11pt;
	font-weight: bold;
	color: #444;
}

.input-container {
	display: inline-block;
	margin-right: 15px;
}

// input[type=text], textarea {
// 	max-width: 100%;
// 	font-size: inherit;
// 	border: none;
// 	outline: none;
// 	padding: 10px;
// 	padding: .6em 1em;
// 	border-radius: 4px;
// 	margin: 0 0 20px 0;

// 	background: #eee;
// 	color: #333;

// 	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
// 	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

// 	&:focus {
// 		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
// 	}
// }

input[type=text], input[type=number], textarea, .file-label {
	max-width: 100%;
	font-size: inherit;
	border: 1px solid #ccc;
	outline: none;
	padding: 10px;
	padding: .6em 1em;
	border-radius: 4px;
	margin: 0 0 20px 0;
	text-overflow: ellipsis;

	//background: #eee;
	color: #333;

	&.error {
		border: 1px solid $danger;
	}
}

textarea {
	resize: none;
	overflow: hidden;
	width: 100%;
}

// input[type=submit] {
// 	cursor: pointer;
	
// 	background: $gradient;
// 	padding: .8em 1.25em;
// 	padding: .6em 1em;
// 	color: #fff;
// 	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
// 	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

// 	&:hover {
// 		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
// 	}

// 	&:active {
// 		transition: 0.1s;
// 		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
// 	}
// }

input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label span {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-bottom: -1px;
	border-radius: 2px;
	background: #eee;
	border: 1px solid #aaa;
}

input[type=checkbox]:hover + label span {
	background: #ccc;
}

input[type=checkbox]:checked + label span {
	background: $main;
	border: none;
}