* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.float-right {
  float: right; }

nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #43cea2, #007991);
  padding: 15px 25px; }
  nav a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center; }
    nav a span {
      display: inline-block;
      font-size: 16pt;
      margin: -3px 8px 0 8px; }

#nav-toggle, #file-toggle {
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  margin-top: 2px; }

#nav-drawer, #file-drawer {
  position: absolute;
  margin: 0;
  padding: 20px;
  background: #333;
  height: calc(100% - 60px);
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: translateX(-100%);
  overflow-y: auto;
  z-index: 1; }
  #nav-drawer.open, #file-drawer.open {
    transform: translateX(0%); }

#file-drawer {
  right: 0;
  transform: translateX(100%); }

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff; }
  .nav-list .nav-list-item {
    margin: 0;
    margin-bottom: 20px; }
    .nav-list .nav-list-item a {
      text-decoration: none;
      color: #fff; }

main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 14pt;
  margin-bottom: 20px; }

h1, h2, h3, h4, h5, h6 {
  color: #333; }

a {
  color: #43cea2; }

hr {
  height: 1px;
  border: none;
  background: #ccc;
  margin: 0;
  margin-bottom: 20px; }

.btn {
  cursor: pointer;
  max-width: 100%;
  font-size: inherit;
  font-weight: normal;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: .6em 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: #eee;
  color: #333;
  text-decoration: none; }
  .btn:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .btn:active {
    transition: 0.1s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .btn.btn-inverse {
    box-shadow: none;
    border: 1px solid currentColor;
    background: none;
    color: #444; }
    .btn.btn-inverse:hover {
      box-shadow: none;
      color: #2b2b2b; }
  .btn.btn-success {
    background: linear-gradient(135deg, #52c234, #159957);
    color: #fff; }
    .btn.btn-success.btn-inverse {
      background: none;
      color: #159957; }
      .btn.btn-success.btn-inverse:hover {
        color: #0f6c3e; }
  .btn.btn-warning {
    background: linear-gradient(135deg, #FFD200, #F7971E);
    color: #fff; }
    .btn.btn-warning.btn-inverse {
      background: none;
      color: #F7971E; }
      .btn.btn-warning.btn-inverse:hover {
        color: #da7d08; }
  .btn.btn-danger {
    background: linear-gradient(135deg, #F45C43, #EB3349);
    color: #fff; }
    .btn.btn-danger.btn-inverse {
      background: none;
      color: #EB3349; }
      .btn.btn-danger.btn-inverse:hover {
        color: #d6152c; }
  .btn.btn-highlight {
    background: linear-gradient(135deg, #43cea2, #007991);
    color: #fff; }
    .btn.btn-highlight.btn-inverse {
      background: none;
      color: #43cea2; }
      .btn.btn-highlight.btn-inverse:hover {
        color: #2eb087; }
  .btn.btn-borderless {
    padding: 0;
    border: none;
    font-weight: bold; }

form, .form {
  width: 100%; }

label {
  display: block;
  margin-bottom: 4px;
  font-size: 11pt;
  font-weight: bold;
  color: #444; }

.input-container {
  display: inline-block;
  margin-right: 15px; }

input[type=text], input[type=number], textarea, .file-label {
  max-width: 100%;
  font-size: inherit;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  padding: .6em 1em;
  border-radius: 4px;
  margin: 0 0 20px 0;
  text-overflow: ellipsis;
  color: #333; }
  input[type=text].error, input[type=number].error, textarea.error, .file-label.error {
    border: 1px solid #EB3349; }

textarea {
  resize: none;
  overflow: hidden;
  width: 100%; }

input[type=checkbox] {
  display: none; }

input[type=checkbox] + label span {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-bottom: -1px;
  border-radius: 2px;
  background: #eee;
  border: 1px solid #aaa; }

input[type=checkbox]:hover + label span {
  background: #ccc; }

input[type=checkbox]:checked + label span {
  background: #43cea2;
  border: none; }

#summary {
  min-height: 7em; }

#body {
  min-height: 20em; }

#public-container {
  display: inline-block;
  margin-right: 20px; }

.ql-toolbar.ql-snow {
  border-radius: 4px 4px 0 0;
  font-size: 14pt;
  padding: .6em .6em;
  font-family: "Open Sans", sans-serif; }

.ql-editor {
  font-size: 14pt;
  padding: .6em 1em; }

.ql-snow .ql-tooltip[data-mode=link]::before {
  content: "URL:"; }

.ql-snow .ql-tooltip[data-mode=formula]::before {
  content: "Formula:"; }

.ql-snow .ql-tooltip[data-mode=image]::before {
  content: "Image URL:"; }

.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
  fill: #555; }

.ql-snow .ql-stroke {
  stroke: #555; }

.ql-snow .ql-picker {
  font-size: 12pt;
  color: #555; }

.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: #43cea2; }

.ql-snow.ql-toolbar button:hover .ql-fill, .ql-snow .ql-toolbar button:hover .ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: #43cea2; }

.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #43cea2; }

#editor {
  border-radius: 0 0 4px 4px;
  margin-bottom: 20px; }

/*# sourceMappingURL=editor.css.map */
