<!DOCTYPE html>
<html>

<head>
    <title>Editing: {{ .Title }}</title>

	<link rel="stylesheet" type="text/css" href="/static/dist/quill/quill.snow.css">
	<link rel="stylesheet" type="text/css" href="/static/dist/katex/katex.min.css">
	<link rel="stylesheet" type="text/css" href="/static/dist/highlight/styles/monokai.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:300,400,700" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/static/admin.css">
	<link rel="stylesheet" type="text/css" href="/static/editor.css">

	<style>
		.row {
			display: flex;
		}
		.col-left {
			flex: 1 0 60%;
		}
		.col-right {
			flex: 1;
			margin-left: 10px;
		}
		input[type=file] {
			display: none;
		}
	</style>
</head>

<body>

	<!--<nav>
		<a href="/admin">
			<svg class="icon" viewBox="2 2 11 16" width="10px">
				<polyline fill="none" stroke="#fff" stroke-width="2px" points="10,4 4,10 10,16"/>
			</svg>
			<span>Dashboard</span>
		</a>

		<a href="/pages/{{ .URL }}">
			<span>Page</span>
			<svg class="icon" viewBox="2 2 11 16" width="10px">
				<polyline fill="none" stroke="#fff" stroke-width="2px" points="4,4 10,10 4,16"/>
			</svg>
		</a>
	</nav>-->

	{{template "nav" .}}

	<main class="clear">

		<h1>Edit Page</h1>

		<div class="row">
			<div class="col-left">
				<form method="POST" action="/pages/{{ .URL }}/{{ .Key }}/update">
					<div class="input-container">
						<label for="title">Title</label>
						<input type="text" id="title" name="title" placeholder="The Art of War" value="{{ .Title }}">
					</div>

					<div class="input-container">
						<label for="author">Author</label>
						<input type="text" id="author" name="author" placeholder="Sun Tzu" value="{{ .Author }}">
					</div>

					<div class="input-container">
						<label for="url">Redirect URL</label>
						<input type="text" id="url" name="target" placeholder="https://example.com/" value="{{ .Target }}">
					</div>

					<div>
						<label for="summary">Summary</label>
						<textarea name="summary" id="summary" placeholder="Summary...">{{.Summary}}</textarea>
					</div>

					<div>
						<label for="meta">Meta</label>
						<textarea name="meta" id="meta" placeholder="Meta..." id="meta">{{.Meta}}</textarea>
					</div>

					<hr>

					<label>Content</label>
					<textarea hidden id="body" name="body">{{ .Body }}</textarea>
					<div id="editor"></div>

					<div class="float-right">
						<div id="public-container">
							<input type="checkbox" id="public" name="visible" value="{{ .Visible }}" {{if .Visible}}checked{{end}}>
							<label for="public"><span></span> Public</label>
						</div>
						<input class="btn btn-highlight" type="submit" value="Save">
					</div>
				</form>
			</div>
		</div>

	</main>

</body>

<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
<script src="/static/editor.js"></script>

<script type="text/javascript" src="/static/dist/katex/katex.min.js"></script>
<script type="text/javascript" src="/static/dist/highlight/highlight.pack.js"></script>
<script type="text/javascript" src="/static/dist/quill/quill.js"></script>

<script type="text/javascript">

	var filesHidden = false;

	var toolbarOptions = [
		[{'header': [1, 2, 3, 4, 5, 6, false]}],
		['bold', 'italic', 'underline', 'strike'],
		[{'list': 'ordered'}, {'list': 'bullet'}],
		['blockquote', 'code-block', 'formula'],
		['link', 'image']
	];

    var quill = new Quill('#editor', {
        modules: {
            formula: true,
            syntax: true,
			toolbar: {
				container: toolbarOptions,
				handlers: {
					image: imageHandler
				}
			}
        },
        theme: 'snow'
    });

    // Updates the hidden form element with the HTML generated by Quill on
    // every change.

    var pseudoBody = document.getElementById("body");
	quill.root.innerHTML = pseudoBody.value;
	
    quill.on('text-change', function(delta, oldDelta, source) {
        pseudoBody.value = quill.root.innerHTML;
    });

	function imageHandler() {
		this.quill.theme.tooltip.edit('image');
	}
</script>

</html>