{{define "nav"}}

<nav>
	<button id="nav-toggle" onclick="toggleNav()">
		<svg viewbox="0 0 100 100" width="30px">
			<line x1="0" y1="15" x2="100" y2="15" stroke="#fff" stroke-width="15"/>
			<line x1="0" y1="50" x2="100" y2="50" stroke="#fff" stroke-width="15"/>
			<line x1="0" y1="85" x2="100" y2="85" stroke="#fff" stroke-width="15"/>
		</svg>
	</button>

	<button id="file-toggle" onclick="toggleFiles()">
		<svg viewbox="0 0 100 100" width="30px">
			<line x1="0" y1="15" x2="100" y2="15" stroke="#fff" stroke-width="15"/>
			<line x1="0" y1="50" x2="100" y2="50" stroke="#fff" stroke-width="15"/>
			<line x1="0" y1="85" x2="100" y2="85" stroke="#fff" stroke-width="15"/>
		</svg>
	</button>
</nav>

<div id="nav-drawer">
	<ul class="nav-list">
		<li class="nav-list-item">
			<a href="/">Home</a>
		</li>
		<li class="nav-list-item">
			<a href="/admin">Dashboard</a>
		</li>
		<li class="nav-list-item">
			<a href="/admin/files">Files</a>
		</li>
	</ul>
</div>

<div id="file-drawer">
	<ul class="nav-list"></ul>
</div>

<script src="/static/network.js" type="text/javascript"></script>
<script>
	function toggleNav() {
		var navDrawer = document.getElementById("nav-drawer");

		if (navDrawer.className.includes("open")) {
			navDrawer.className = "";
		}
		else {
			navDrawer.className = "open";
		}
	}

	function toggleFiles() {
		var fileDrawer = document.getElementById("file-drawer");

		if (fileDrawer.className.includes("open")) {
			fileDrawer.className = "";
		}
		else {
			fetchFiles();
			fileDrawer.className = "open";
		}
	}

	function fetchFiles() {
		var params = {};

		makeRequest({
			method: "GET",
			uri: "/admin/files/list",
			formParams: params,
			load: function(xhr, status, response) {

                if (response.success) {
                    buildFileList(response.data);
                } else {
                    return false;
                }

			},
			failure: function(xhr, status, responseText) {

                console.error("Create failed: " + status);

			}
        });
	}

	function buildFileList(list) {

		var fileDrawerList = document.querySelector("#file-drawer .nav-list");
		fileDrawerList.innerHTML = "";

		for (var i = 0, len = list.length; i < len; i++) {
			var url = list[i];

			var listItem = document.createElement("li");
			listItem.className = "nav-list-item";

			var fileName = document.createElement("span")
			fileName.style = "display: inline-block ;margin: 0 20px 10px 0;";
			fileName.innerText = url;

			var buttonGroup = document.createElement("div");
			buttonGroup.className = "button-group"

			var copyButton = document.createElement("button");
			copyButton.innerText = "Copy";
			copyButton.style = "margin-right: 4px;"
			copyButton.className = "btn";
			copyButton.data = "/files/" + url;
			copyButton.onclick = function() {
				clip(this.data);
			}

			var resizeButton = document.createElement("button");
			resizeButton.innerText = "Resize";
			resizeButton.style = "margin-right: 4px;"
			resizeButton.className = "btn btn-warning";

			var deleteButton = document.createElement("button");
			deleteButton.innerText = "Delete";
			deleteButton.style = "margin-right: 4px;"
			deleteButton.className = "btn btn-danger";
			deleteButton.data = url;
			deleteButton.onclick = function() {
				deleteFile(this.data);
			}

			buttonGroup.appendChild(copyButton);
			buttonGroup.appendChild(resizeButton);
			buttonGroup.appendChild(deleteButton);

			listItem.appendChild(fileName);
			listItem.appendChild(buttonGroup);

			fileDrawerList.appendChild(listItem);

		}
	}

	function deleteFile(name) {

		var params = {
			"filename": name
		};

		makeRequest({
			method: "POST",
			uri: "/admin/files/delete",
			formParams: params,
			load: function(xhr, status, response) {

                if (response.success) {
                    window.location.reload();
                } else {
                    console.log(response.error)
                    return false;
                }

			},
			failure: function(xhr, status, responseText) {
                console.error("Create failed: " + status);
			}
        });
	}

	function clip(text) {   
		text = text.replace(" ", "%20")

		var copyElement = document.createElement('input');    
		copyElement.setAttribute('type', 'text');   
		copyElement.setAttribute('value', text);    
		copyElement = document.body.appendChild(copyElement);   
		copyElement.select();   
		document.execCommand('copy');   
		copyElement.remove();
	}
</script>
{{end}}